* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    line-height: 1.6;
    color: #088a61;
  }


  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b9466;
    padding: 20px 40px;
  }
  .logo h2 {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
  }
  .nav-link {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  .nav-link li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
  }
  .nav-link li a:hover {
    color: #18a88b;
  }


  .hero {
    position: relative;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
  }
  .hero img {
    width: 100%;
    height: auto;
    display: block;
  }
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #12856599;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
  }
  .text h1 {
    font-size: 42px;
    margin-bottom: 10px;
  }
  .text p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .text button {
    background-color: #1ba877;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  .text button:hover {
    background-color: #1ba081;
    transform: scale(1.05);
  }
  .Description {
    text-align: center;
    padding: 50px 20px;
    background-color: blanchedalmond;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
  }
    .Description h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .Description p {
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 20px;
    }
.card {
    background-color: rgb(33, 156, 130);
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    margin: 20px auto;
}


footer {
  background-color: #2c3e50; 
  padding: 20px 0;
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.footer-content p {
  margin-bottom: 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-links li {
  display: inline;
}

.footer-links a {
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #f1c40f; 
}

